{% extends 'base.html' %}

{% block content %}

<br>
<br>
<h1>Sylwkastyczny konkurs graficzny!</h1>
<br>
<h3><strong>Przedstaw nam jak wyobrażasz sobie Sylwka i spróbuj uzyskać sylwkastyczne nagrody!</strong></h3>
<h7>Temat konkursu jest prosty jak drewniana noga Sylwka. <strong>Twoim zadaniem jest przedstawienie za pomocą
    dowolnego wyrazu artystycznego jak sobie wyobrażasz tego przystojniaka. Swoją pracę wyślij na naszego maila z tytułem "konkurs".</strong> Nie przyjmujemy
linków, wyłącznie jpg, MP4 oraz png. Może to być obrazek, może to być nagranie, a może to być i rzeźba. Wszystko ogranicza się do Twojej wyobraźni!</h7>
<p><strong>Wszystkie prace, chyba, że przekroczą pewne ramy moralne, zostaną zamieszczonę w galerii Sylwka.</strong></p>
<h6>Naszego maila znajdziesz w zakładce "o nas". Powodzenia! :3</h6>

{% endblock %}